:root{
    --primaria: #7e8081;
    --secundaria: #0b0e1c;

    --hover: #579fbf;

    --larg: 361px;
    --alt: 250px; 
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container{
    margin-left: 90px;
    margin-right: 90px;
}

body{
    background: var(--primaria);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}


/* Configurações <header>*/

header{
    border-bottom: 7px solid;
    border-color: #0b0e1c;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

header div .logo-principal .imagem-principal{
    width: 200px;
    height: 120px;
}


/* Configurações <main>*/
main .container{
    margin-top: 10px;
    margin-left: 400px;
    margin-right: 400px;
}

main .container #form-adicionar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

main .titulo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

main table{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main table th{
    padding-left: 40px;
}

main table td{
    padding-left: 40px;
}






